In [14]:
import scipy
import numpy as np
import pandas as pd

In [19]:
ary = np.array([1,2,3])
strs = ['one', 'two', 'three']
label = np.array([1,0,0])

In [28]:
df = pd.DataFrame({'protein': strs, 'label':label, 'result': ary})

In [26]:
a = list(range(10))
a[2:]

[2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [30]:
df[df.label==1]

  protein  label  result
0     one      1       1
1     two      1       2

In [31]:
1/2

0.5